.u-section-1 .u-sheet-1 {
  min-height: 561px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 579px;
  margin: 85px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 549px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 346px;
  }
}